
ion-content {
  --ion-background-color: #EFEFEF;
}

.text-size {
  font-size: 12px;
}

.input-control_upper_case {
  // display: block;
  width: 100%;
  height: 35px;
  text-transform: uppercase;
  //margin-left: 5px;
  //padding: 6px 12px;
  font-size: 13px;
  //line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  // border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


.text-size-2 {
  font-size: 13px;
}

.row-divider {
  color: #000;
  font-size: 14px;
}

.ion-rows {
  color: #000;
  margin-top: 10px;
  margin-bottom: 5px;
}

.input-control {
  // display: block;
  width: 100%;
  height: 35px;
  //margin-left: 5px;
  //padding: 6px 12px;
  font-size: 10px;
  //line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  background-image: none;
  //border: 1px solid #ccc;
  // border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.textarea-control {
  // display: block;
  width: 100%;
  height: 60px;
  //margin-left: 5px;
  //padding: 6px 12px;
  font-size: 13px;
  //line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  background-image: none;
  // border: 1px solid #ccc;
  // border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.button-text {
  border-radius: 0px;
  width: 100%;
  text-transform: none;
  --ion-color-primary: #5bc0de;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
}

.button-text-2 {
  border-radius: 0px;
  width: 100%;
  text-transform: none;
  --ion-color-primary: #5cb85c;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
}

.ion-cols {
  padding: 0px;
  margin: 0px;
}

