<ion-header>
    <ion-toolbar color="button">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-text color="light" class="fw700">পাসওয়ার্ড পরিবর্তন</ion-text>
        </ion-title>
        <ion-buttons slot="end">
            <ion-back-button text="" class="header_button_r" icon="arrow-round-back" color="light"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="grids">
        <div class="margins-10">

            <ion-row class="ion-rows">
                <ion-col class="ion-cols">
                    <ion-label class="text-size-2">
                        ও টি পি লিখুন *
                    </ion-label>
                    <ion-input type="text" [(ngModel)]="otp" class="input-control" placeholder="এখানে লিখুন"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row class="ion-rows">
                <ion-col class="ion-cols">
                    <ion-label class="text-size-2">
                        নতুন পাসওয়ার্ড *
                    </ion-label>
                    <ion-input type="password" [(ngModel)]="newPassword" class="input-control" placeholder="পাসওয়ার্ড"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row class="ion-rows">
                <ion-col class="ion-cols">
                    <ion-label class="text-size-2">
                        পাসওয়ার্ড নিশ্চিত করুন *
                    </ion-label>
                    <ion-input type="password" [(ngModel)]="confirmPassword" class="input-control" placeholder="নিশ্চিত করুন"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row class="row-divider"></ion-row>

            <ion-row class="ion-rows">
                <ion-col class="ion-cols" size="4.5">
                    <ion-button (click)="onCancelClicked()" expand="full" type="submit" class="ion-no-margin" color="disabled">বাতিল করুন</ion-button>
                </ion-col>
                <ion-col size=".5">

                </ion-col>
                <ion-col class="ion-cols" size="7">
                    <ion-button (click)="onChangePasswordClicked()" expand="full" type="submit" class="ion-no-margin" color="button">পাসওয়ার্ড পরিবর্তন করুন</ion-button>
                </ion-col>
            </ion-row>

        </div>
    </ion-grid>
</ion-content>
