
ion-content {
  margin: 0;
  padding: 0;

  #settings-box {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;

    ion-card-content {
      margin: 0;
      padding: 0;

      ion-item {
        margin: 0;
        padding: 0;
        --color: default;
        font-weight: bold;
        font-size: small;

        ion-icon {
          margin-right: 3%;
          --color: default;
        }
      }

      ion-row {
        height: 2px;
        width: 100%;
      }
    }
  }
}
