<ion-header>
    <ion-toolbar color="button">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-text color="light" class="fw700">সেটিংস</ion-text>
        </ion-title>
        <ion-buttons slot="end">
            <ion-back-button defaultHref="home" text="" class="header_button_r" icon="arrow-round-back" color="light"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="formbg">
    <ion-card id="settings-box">
        <ion-card-content>

            <ion-item lines="none" routerLink="/profiles">
                <ion-icon slot="start" size="small" src="/assets/icon/user-profile.svg"></ion-icon>
                <ion-text>প্রোফাইল পরিবর্তন</ion-text>
                <ion-icon slot="end" size="small" src="/assets/images/forward.svg"></ion-icon>
            </ion-item>

            <ion-row></ion-row>

            <ion-item lines="none" routerLink="/change-password">
                <ion-icon slot="start" size="small" src="/assets/images/lock.svg"></ion-icon>
                <ion-text>পাসওয়ার্ড পরিবর্তন</ion-text>
                <ion-icon slot="end" size="small" src="/assets/images/forward.svg"></ion-icon>
            </ion-item>

        </ion-card-content>
    </ion-card>
</ion-content>
