<ion-header id="head">
    <ion-toolbar color="button">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <!--<ion-button fill="clear" slot="end" class="ion-text-end" routerLink="/login">-->
            <!--<ion-icon name="log-out" size="medium"></ion-icon>&nbsp; লগ আউট-->
        <!--</ion-button>-->

    </ion-toolbar>

    <ion-toolbar color="button" class="powered-logo">
        <ion-grid>
            <ion-row>
                <ion-col size="4" class="header-middle-content">
                    <ion-icon src="/assets/icon/welcome.svg"></ion-icon>
                </ion-col>
                <ion-col size="4" class="header-middle-content">
                    <ion-img src="/assets/images/brta.png"></ion-img>
                </ion-col>
                <ion-col size="4" class="header-middle-content">
                    <ion-img src="/assets/images/govt.png"></ion-img>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>

    <!--<h2 class="ion-text-center">বিআরটিএ সার্ভিস পোর্টালে স্বাগতম </h2>-->

</ion-header>

<ion-content>

    <!--main menu-->
    <ion-grid class="no-scroll">
        <ion-row>
            <ion-col size="6" class="fadeIn">
                <ion-tab-button class="main-menu ion-text-center" routerLink="/dashboard">
                    <ion-icon src="/assets/icon/dashboard.svg"></ion-icon>
                    <ion-label class="ion-text-wrap">ড্যাশবোর্ড </ion-label>
                </ion-tab-button>
            </ion-col>

            <ion-col size="6" class="fadeIn">
                <ion-tab-button class="main-menu ion-text-center" routerLink="/user-profile">
                    <ion-icon src="/assets/icon/user-profile.svg"></ion-icon>
                    <ion-label class="ion-text-wrap">প্রোফাইল </ion-label>
                </ion-tab-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6" class="fadeIn">
                <ion-tab-button class="main-menu ion-text-center">
                    <ion-icon src="/assets/icon/icon id 43-01.svg"></ion-icon>
                    <ion-label class="ion-text-wrap">স্মার্ট কার্ড এর জন্য আবেদন</ion-label>
                </ion-tab-button>
            </ion-col>

            <ion-col size="6" class="fadeIn">
                <ion-tab-button class="main-menu ion-text-center" routerLink="/prerequisition-of-learner">
                    <ion-icon src="/assets/icon/icon id 44-01.svg"></ion-icon>
                    <ion-label class="ion-text-wrap">শিক্ষানবিশ লাইসেন্স এর জন্য আবেদন</ion-label>
                </ion-tab-button>
            </ion-col>


        </ion-row>

        <!--<ion-row>
            <ion-col size="6" class="fadeIn">
                <ion-tab-button class="main-menu ion-text-center" routerLink="/driver-tagging">
                    <ion-icon src="/assets/icon/icon id 50-01.svg"></ion-icon>
                    <ion-label class="ion-text-wrap">ড্রাইভার সংযুক্ত করণ</ion-label>
                </ion-tab-button>
            </ion-col>

            <ion-col size="6" class="fadeIn">
                <ion-tab-button class="main-menu ion-text-center" routerLink="/vehicle-tagging">
                    <ion-icon src="/assets/icon/icon id 49-01.svg"></ion-icon>
                    <ion-label class="ion-text-wrap">মোটরযান সংযুক্ত করণ</ion-label>
                </ion-tab-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6" class="fadeIn">
                <ion-tab-button class="main-menu ion-text-center" routerLink="/payment">
                    <ion-icon src="/assets/icon/icon id 20-01.svg"></ion-icon>
                    <ion-label class="ion-text-wrap">পেমেন্ট </ion-label>
                </ion-tab-button>
            </ion-col>

            <ion-col size="6" class="fadeIn">
                <ion-tab-button class="main-menu ion-text-center" routerLink="/driver-license-tagging">
                    <ion-icon src="/assets/icon/icon id 12-01.svg"></ion-icon>
                    <ion-label class="ion-text-wrap">ড্রাইভিং লাইসেন্স সংযুক্ত করণ</ion-label>
                </ion-tab-button>
            </ion-col>
        </ion-row>-->


    </ion-grid>


</ion-content>
