
ion-header {
  margin: 0;
  padding: 0;

  ion-toolbar {
    ion-title {
      margin: 0;
      padding: 0;

      ion-text {
        margin: 0;
        padding: 0;
      }
    }
  }
}

ion-content {
  margin: 0;
  padding: 0;

  ion-grid {
    margin: 0;
    padding: 0;

    ion-row {
      margin: 5% 0 0 0;
      padding: 0;

      ion-col {
        margin: 0;
        padding: 0;

        ion-img {
          margin: auto;
          padding: 0;
          width: 60%;
          height: 60%;
        }

        ion-label {
          margin: 0;
          padding: 0;
          font-size: large;
          color: black;
          font-weight: normal;
          text-transform: none;
        }
      }
    }
  }
}
