<ion-content>
    <ion-toolbar color="transparent">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-icon name="home" size="small" slot="end" class="home ion-padding-end" routerLink="/home"></ion-icon>
    </ion-toolbar>

    <ion-card id="login-box">

        <ion-card-content>
            <!-- <ion-card-header> -->
            <!--<ion-card-title style="font-size: 25px; padding-bottom: 5%" color="white">গতিতে স্বাগতম </ion-card-title>-->
            <ion-card-title style="font-size: 22px; padding-bottom: 5%" color="white">বিআরটিএ সেবাতে স্বাগতম </ion-card-title>
            <!-- </ion-card-header> -->


            <ion-card-subtitle>এখানে লগইন করুন</ion-card-subtitle>

            <ion-item>
                <ion-icon name="person" size="small" color="default"></ion-icon>
                <ion-input type="text" value="" placeholder="ইমেইল আইডি / মোবাইল নাম্বার " [(ngModel)]="mobile"></ion-input>
            </ion-item>

            <ion-item>
                <ion-icon color="default" size="small" name="unlock"></ion-icon>
                <ion-input type="{{passwordInputType}}" value="" placeholder="পাসওয়ার্ড" [(ngModel)]="password"></ion-input>
                <ion-icon color="default" size="small" name="{{passwordViewIcon}}" (click)="onPasswordViewClicked()"></ion-icon>
            </ion-item>
            <p class="footer" id="forgot">পাসওয়ার্ড ভুলে গেছেন?
                <ion-nav-link class="link" routerLink="/forget-password">এখানে ক্লিক করুন</ion-nav-link>
            </p>

            <!--<ion-card-title class="link ion-padding-bottom" (click)="forgetPassword()">পাসওয়ার্ড ভুলে গেলে এখানে ক্লিক করুন </ion-card-title>-->
            <ion-button expand="full"  type="submit" class="ion-no-margin" color="button" (click)="userLogin()"> লগইন করুন</ion-button>

        </ion-card-content>
    </ion-card>

    <p class="footer">আপনার কি কোন অ্যাকাউন্ট নেই ?
        <ion-nav-link class="link" routerLink="/registration">রেজিস্টার করুন</ion-nav-link>
    </p>

</ion-content>
