<ion-header>
    <ion-toolbar color="button">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-text color="light">
                <ion-text color="light" class="fw700">প্রোফাইল</ion-text>
            </ion-text>
        </ion-title>
        <ion-buttons slot="end">
            <ion-back-button text="" class="header_button_r" icon="arrow-round-back"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="no-scroll">

        <ion-row>
            <!--<ion-col size="6" class="fadeIn">
                <ion-tab-button class="main-menu ion-text-center" routerLink="/driver-tagging">
                    <ion-icon src="/assets/icon/icon id 50-01.svg"></ion-icon>
                    <ion-label class="ion-text-wrap">ড্রাইভার সংযুক্ত করণ</ion-label>
                </ion-tab-button>
            </ion-col>-->

            <ion-col size="6" class="fadeIn">
                <ion-tab-button class="main-menu ion-text-center" routerLink="/vehicle-tagging">
                    <ion-icon src="/assets/icon/icon id 49-01.svg"></ion-icon>
                    <ion-label class="ion-text-wrap">মোটরযান সংযুক্ত করণ</ion-label>
                </ion-tab-button>
            </ion-col>

            <ion-col size="6" class="fadeIn">
                <ion-tab-button class="main-menu ion-text-center" routerLink="/prerequisition-of-appointment">
                    <ion-icon src="/assets/icon/icon id 22-01.svg"></ion-icon>
                    <ion-label class="ion-text-wrap"> এপয়েন্টমেন্ট</ion-label>
                </ion-tab-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6" class="fadeIn">
                <ion-tab-button class="main-menu ion-text-center" routerLink="/payment">
                    <ion-icon src="/assets/icon/icon id 20-01.svg"></ion-icon>
                    <ion-label class="ion-text-wrap">ফি জমার বিবরণী </ion-label>
                </ion-tab-button>
            </ion-col>

            <ion-col size="6" class="fadeIn">
                <ion-tab-button class="main-menu ion-text-center" routerLink="/driver-license-tagging">
                    <ion-icon src="/assets/icon/icon id 12-01.svg"></ion-icon>
                    <ion-label class="ion-text-wrap">ড্রাইভিং লাইসেন্স সংযুক্ত করণ</ion-label>
                </ion-tab-button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6" class="fadeIn">
                <ion-tab-button class="main-menu ion-text-center" routerLink="/complain">
                    <ion-icon src="/assets/images/complain.svg"></ion-icon>
                    <ion-label class="ion-text-wrap">মতামত </ion-label>
                </ion-tab-button>
            </ion-col>

            <!--<ion-col size="6" class="fadeIn">-->
                <!--<ion-tab-button class="main-menu ion-text-center" routerLink="/re-exam">-->
                    <!--<ion-icon src="/assets/images/complain.svg"></ion-icon>-->
                    <!--<ion-label class="ion-text-wrap">পুনঃপরীক্ষা </ion-label>-->
                <!--</ion-tab-button>-->
            <!--</ion-col>-->
        </ion-row>


    </ion-grid>
</ion-content>
