<ion-header>
    <ion-toolbar color="button">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-text color="light">
                <ion-text color="light" class="fw700">রেজিস্টার</ion-text>
            </ion-text>
        </ion-title>
        <ion-button color="light" fill="clear" slot="end" class="ion-text-end" routerLink="/home">
            <ion-icon name="home" size="medium"></ion-icon>&nbsp;
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="showNidOption">
    <ion-row style="margin : 5px 20px 20px 20px;">
        <ion-col class="ion-no-margin ion-no-padding">
            <ion-text class="input-control">মোবাইল নাম্বার *</ion-text>
        </ion-col>
        <ion-col class="ion-no-margin ion-no-padding">
            <ion-input [readonly]="mobileReadOnly" class="input-control" style="--placeholder-color: #129" type="number" [(ngModel)]="nidPhoneNumber" placeholder="মোবাইল নাম্বার লিখুন"></ion-input>
        </ion-col>
    </ion-row>

    <ion-row style="margin: 5px 20px 20px 20px;">
        <ion-col class="ion-no-margin ion-no-padding">
            <ion-text style="font-size: small">জাতীয় পরিচয়পত্র নম্বর</ion-text>
            <!--<ion-input class="input-control-nid" type="text" [(ngModel)]="nidForNid" placeholder="এন আই ডি লিখুন"></ion-input>-->
        </ion-col>
        <ion-col size="0.5"></ion-col>
        <ion-col class="ion-no-margin ion-no-padding">
            <ion-text style="font-size: small">জন্ম তারিখ</ion-text>
            <!--<ion-datetime [(ngModel)]="nidDateOfBirth" displayFormat="DD/MM/YYYY"-->
            <!--class="input-control" placeholder="দিন/মাস/বছর"></ion-datetime>-->
        </ion-col>
    </ion-row>

    <ion-row id="nid-contant">
        <ion-col class="ion-no-margin ion-no-padding">
            <ion-input class="input-control" style="--placeholder-color: #129" [(ngModel)]="nidForNid" placeholder="এন আই ডি লিখুন"></ion-input>
        </ion-col>
        <ion-col size="0.5"></ion-col>
        <ion-col class="ion-no-margin ion-no-padding">
            <ion-datetime style="--placeholder-color: #4f6a99" [(ngModel)]="nidDateOfBirth" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY"
                          class="input-control ion-no-padding ion-no-margin"  placeholder="দিন/মাস/বছর"></ion-datetime>
        </ion-col>
    </ion-row>
    <ion-row style="margin: 5px 20px 20px 20px;">
        <ion-col size="12"><ion-label style="font-size: small; color: #ff1c00"><ion-text>বিঃ দ্রঃ ১৩ সংখ্যার জাতীয় পরিচয়পত্র নম্বর এর আগে আবেদনকারীর জন্ম সাল যোগ করুন </ion-text></ion-label></ion-col>
    </ion-row>



    <ion-button color="button" expand="block" (click)="checkNidOption()">Submit</ion-button>
</ion-content>

<ion-content color="formbg" *ngIf="!showNidOption">
    <ion-card id="registration-box">
        <ion-card-header>
            <ion-card-title color="h1">নিবন্ধন করুন</ion-card-title>
        </ion-card-header>

        <ion-card-content>

            <ion-card-subtitle color="h2">ব্যবহারকারীর নাম *</ion-card-subtitle>
            <ion-item lines="none">
                <ion-icon src="/assets/registration-icon/full_name.svg" size="small" color="default"></ion-icon>
                <ion-input [readonly]="doReadOnly" [(ngModel)]="name" type="text" placeholder="এখানে লিখুন"></ion-input>
            </ion-item>

            <ion-card-subtitle color="h2">ইমেল </ion-card-subtitle>
            <ion-item lines="none">
                <ion-icon src="/assets/registration-icon/email.svg" size="small" color="default"></ion-icon>
                <ion-input [(ngModel)]="email" type="text" placeholder="এখানে লিখুন"></ion-input>
            </ion-item>

            <ion-card-subtitle color="h2">মোবাইল নম্বর *</ion-card-subtitle>
            <ion-item lines="none">
                <ion-icon src="/assets/registration-icon/mobile.svg" size="small" color="default"></ion-icon>
                <ion-input [disabled]="mobileReadOnly" [(ngModel)]="mobile" type="number" placeholder="এখানে লিখুন"></ion-input>
            </ion-item>

            <ion-card-subtitle color="h2">জন্ম তারিখ *</ion-card-subtitle>
            <ion-item lines="none">
                <ion-icon src="/assets/registration-icon/calendar.svg" size="small" color="default"></ion-icon>
                <ion-input [readonly]="doReadOnly" (ionChange)="updateDate($event)" display-format="DD/MM/YYYY" picker-format="DD/MM/YYYY"  placeholder="দিন/মাস/বছর"
                              [(ngModel)]="dateOfBirth" id="dateOfBirth" required="true" class="input-control text-size-small input-left-dob-icon"></ion-input>
                <!--<ion-input type="text" placeholder="DD/MM/YYY"></ion-input>-->
            </ion-item>

            <ion-card-subtitle color="h2">জাতীয় পরিচয়পত্র নম্বর *</ion-card-subtitle>
            <ion-item lines="none">
                <ion-icon src="/assets/registration-icon/nid.svg" size="small" color="default"></ion-icon>
                <ion-input [readonly]="doReadOnly" [(ngModel)]="nid"  type="number" placeholder="এখানে লিখুন"></ion-input>
            </ion-item>

            <ion-card-subtitle color="h2">পাসওয়ার্ড *</ion-card-subtitle>
            <ion-item lines="none">
                <ion-icon src="/assets/registration-icon/password.svg" size="small" color="default"></ion-icon>
                <ion-input type="password" [(ngModel)]="password" maxlength="15" minlength="6" name="password" id="password" required="true" placeholder="নতুন পাসওয়ার্ড"></ion-input>
            </ion-item>
            <ion-label color="button">* অন্তত ৬টি অক্ষর ব্যবহার করুন </ion-label>

            <ion-card-subtitle color="h2">পাসওয়ার্ড নিশ্চিত করুন *</ion-card-subtitle>
            <ion-item lines="none">
                <ion-icon src="/assets/registration-icon/re_type_password.svg" size="small" color="default"></ion-icon>
                <ion-input type="password" [(ngModel)]="re_password" maxlength="15" minlength="6" name="re_password" id="re_password" required="true" type="password" placeholder="নিশ্চিত করুন"></ion-input>
            </ion-item>

            <ion-button (click)="userSignUp()" expand="full" type="submit" class="ion-no-margin" color="button">নিবন্ধন করুন</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
