


ion-content {
  --ion-background-color: #FFFFFF;
  #nid-contant {
    margin: 5px 20px 0px 20px;

    ion-col {

      ion-input {
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 10px;
        color: black;
        font-size: small;
        --placeholder-color: #ccc;
      }
    }
  }

  ion-button {
    margin: 0 20px 5px 20px;
    text-transform: none;
    font-size: small;
    font-weight: bold;
  }
  .input-control_upper_case {
    // display: block;
    width: 100%;
    height: 35px;
    text-transform: uppercase;
    //margin-left: 5px;
    //padding: 6px 12px;
    font-size: 13px;
    //line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    // border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  .text-size {
    font-size: 12px;
  }

  .text-size-2 {
    font-size: 13px;
  }

  .row-divider {
    color: #393939;
    font-size: 14px;
  }

  .ion-rows {
    color: #393939;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .input-control {
    // display: block;
    width: 100%;
    height: 35px;
    //margin-left: 5px;
    //padding: 6px 12px;
    font-size: 13px;
    //line-height: 1.42857143;
    //color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    // border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  .input-control-nid {
    // display: block;
    width: 100%;
    height: 35px;
    //margin-left: 5px;
    //padding: 6px 12px;
    font-size: 13px;
    //line-height: 1.42857143;
    color: #000;
    //background-color: #fff;
    background-image: none;
    border: 1px solid #fff;

    // border-radius: 4px;
    //-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    //box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    //-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    //-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    //transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  .button-text {
    border-radius: 0px;
    width: 100%;
    text-transform: none;
    --ion-color-primary: #fff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #000;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
  }

  .button-text-2 {
    background: #fff;
    color: #000;
    border-radius: 0px;
    width: 100%;
    text-transform: none;
  }

  .button-text-3 {
    --ion-color-light: #692F92;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
  }

  .button-text-4 {
    border-radius: 0px;
    width: 100%;
    text-transform: none;
    --ion-color-primary: #692F92;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
  }

  .button-text-5 {
    border-radius: 0px;
    width: 100%;
    text-transform: none;
    --ion-color-primary: #ffffff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #000;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
  }

  .button-text-6 {
    border-radius: 0px;
    width: 80%;
    text-transform: none;
    --ion-color-primary: #fff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #000;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;
  }

  .ion-cols {
    padding: 0;
    margin: 0;
  }

  .text-size-smalls {
    font-size: x-small;
  }

  ion-item {
    margin: 0;
    padding: 0;

    ion-checkbox {
      width: 20px;
      height: 20px;
      padding: 0;
      margin: 0;
    }

    ion-label {
      padding: 0;
      margin: 0;
    }
  }

  .non-professional-grid {

  }

  .professional-grid {

  }

  ion-avatar {
    margin: auto;
  }

  #education-certificate-check-mark,#education-certificate-check-mark_no {
    margin-top: 16px;
    color: green;
    margin-left: 5px;
  }

  #medical-certificate-check-mark, #utility-upload-check-mark {
    margin-top: 33px;
    color: green;
    margin-left: 5px;
  }

  #national-certificate-check-mark {
    margin-top: 16px;
    color: green;
    margin-left: 5px;
  }

  #driving-license-check-mark {
    margin-top: 16px;
    color: green;
    margin-left: 5px;
  }

}
