<ion-header>
    <ion-toolbar color="button">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-text color="light" class="fw700">পাসওয়ার্ড ভুলে গেছেন</ion-text>
        </ion-title>
        <ion-buttons slot="end">
            <ion-back-button text="" class="header_button_r" icon="arrow-round-back" color="light"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid class="grids">
        <div class="margins-10">

            <ion-segment  value="default" [ngModel]="mobileOrEmail" (ngModelChange)="changeSigment($event)">
                <ion-segment-button style="color: #FFFFFF" value="MOBILE" >
                    <ion-label>Mobile</ion-label>
                </ion-segment-button>
                <ion-segment-button  style="color: #FFFFFF" value="EMAIL" >
                    <ion-label>Email</ion-label>
                </ion-segment-button>
            </ion-segment>

            <ion-row class="ion-rows" *ngIf="!isMobileSelected">
                <ion-col class="ion-cols" >
                    <ion-label class="text-size-2">
                      আপনার ইমেলটি দিন *
                    </ion-label>
                    <ion-input type="text" required="true" [(ngModel)]="email" class="input-control" placeholder="এখানে লিখুন"></ion-input>
                </ion-col>
            </ion-row>

            <ion-row class="ion-rows" *ngIf="isMobileSelected">
                <ion-col class="ion-cols" >
                    <ion-label class="text-size-2">
                        আপনার মোবাইল নাম্বার লিখুন *
                    </ion-label>
                    <ion-input type="number" required="true" [(ngModel)]="mobileNumber" class="input-control" placeholder="এখানে লিখুন"></ion-input>
                </ion-col>
            </ion-row>
            <ion-row class="row-divider"></ion-row>

            <ion-row class="ion-rows">
                <ion-col class="ion-cols" size="5">
                    <ion-button (click)="onCancelClicked()" expand="full" type="submit" class="ion-no-margin" color="disabled">বাতিল করুন</ion-button>
                </ion-col>
                <ion-col size=".5">

                </ion-col>
                <ion-col class="ion-cols" size="6.5">
                    <ion-button (click)="onForgotPassClicked()" expand="full" type="submit" class="ion-no-margin" color="button">পাঠিয়ে দিন</ion-button>
                </ion-col>
            </ion-row>

        </div>
    </ion-grid>
</ion-content>
