
ion-app {
  --ion-background-color: #EBEDEA;
}

.text-size {
  font-size: 12px;
}

.text-size-2 {
  font-size: 13px;
}

.row-divider {
  color: #fff;
  font-size: 14px;
}

.ion-rows {
  color: #000;
  margin: 10px;
}

.input-control {
  width: 100%;
  height: 40px;
  font-size: 13px;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.textarea-control {
  width: 100%;
  height: 60px;
  font-size: 13px;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.button-text {
  font-size: 12px;
  border-radius: 0px;
  width: 100%;
  text-transform: none;
  --ion-color-primary: #4D5F72;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
}

.button-text-2 {
  font-size: 12px;
  border-radius: 0px;
  width: 98%;
  text-transform: none;
  --ion-color-primary: #5cb85c;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
}

.ion-cols {
  padding: 0px;
  margin: 0px;
}


.borders-3 {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.borders {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.borders-2 {
  border-right: 1px solid #ccc;
}

.cols-padding {
  padding: 10px 0px 10px 0px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-12 {
  font-size: 12px;
}
